<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>agenciaServ</servlet-name>
        <servlet-class>Control.agenciaServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>aspiranteServ</servlet-name>
        <servlet-class>Control.aspiranteServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>empleabilidadServ</servlet-name>
        <servlet-class>Control.empleabilidadServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ofertaServ</servlet-name>
        <servlet-class>Control.ofertaServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>profesionServ</servlet-name>
        <servlet-class>Control.profesionServ</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>agenciaServ</servlet-name>
        <url-pattern>/agencias.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>aspiranteServ</servlet-name>
        <url-pattern>/aspirantes.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>empleabilidadServ</servlet-name>
        <url-pattern>/empleabilidades.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ofertaServ</servlet-name>
        <url-pattern>/ofertas.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>profesionServ</servlet-name>
        <url-pattern>/profesiones.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
